.Hero {
    display: block;
    background: rgb(77, 181, 225);
    background: linear-gradient(
        90deg,
        rgba(227, 41, 177, 0.844) 0%,
        rgba(57, 205, 210, 0.892) 79%,
        rgba(0, 234, 255, 0.841) 100%
    );
    height: 100%;
    width: 100%;
    padding: 20% 20%;
    color: white;
}